.main{
	border-right:4px solid #F0F0F0;
	float:left;
	margin:0 18px 0 0;
	padding:0 18px 0 0;
	position: relative;
	width: 685px;
}

/* posword个人使用 */
html{
	margin-bottom: 1px;
	min-height: 100%;
}
body {
	background: #F0F0F0;
	color: #444;
	font-size: 62.5%;
}
html>body {
	font-size: 16px;
}
p, blockquote, footer {
	font-size: 1em;
	line-height: 1.5;
}
main#content{
	background: #FFF;
	margin: -45px auto 0;
	padding: 24px 0 0 0;
	width: 1020px;
}
